.selectedPackage__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.selectedPackage__box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  gap: 2rem;
}

.selectedPackage__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  color: #7a7a7a;
  background-color: #fff;
}

.selectedPackage__img {
  width: 80%;
  margin-inline: auto;
  img {
    border-radius: 15px;
  }
}

.selectedPackage__duration {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #112542;
  max-width: max-content;
  color: #fff;
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 50px;
  font-size: 0.85rem;
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 700;
}

.selectedPackage__details {
  color: #7a7a7a;
  max-width: 60ch;
}

.selectedPackage__content_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  //   border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1.4rem;
  text-transform: capitalize;

  p:not(.selectedPackage__details) {
    font-size: 1.3rem;
    font-weight: 700;
    color: #112542;
  }
}

.selectedPackage__content_header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selected__date {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e4e4e4;
  padding-left: 1rem;
  font-weight: bold;
  color: #112542;
}

.selectedPackage__locator {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;

  svg {
    color: #06a6e3;
  }
}

.selectedPackage__rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  p {
    font-weight: 700;
    font-size: 1.75rem;
    color: #112542;
  }
}

.selectedPackage-btns {
  display: flex;
  gap: 0.56rem;
  .update-btn {
    padding: 0.5em 1em;
    font-size: 0.8rem;
  }
}

@media (min-width: 756px) {
  .selectedPackage__box {
    flex-direction: row;
  }
  .selectedPackage__content {
    flex-direction: row;
    padding-inline: 2rem;
  }

  .selectedPackage__img {
    width: 20%;
  }

  .selectedPackage__content_header {
    gap: 2rem;
  }
}
