.dashboard {
  padding-block: 4rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__header {
    border-bottom: 2px solid #06a6e3;

    h1 {
      padding-block: 1rem;
      font-size: 2rem;
      text-transform: capitalize;
    }
  }
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: 1.3rem;
    font-weight: bolder;
  }
}
