.package {
  padding-block: 7rem;
  background-image: url("../../assets/package-img-section.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__box {
    max-width: 23.5rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    color: #7a7a7a;
    background-color: #fff;
  }

  &__img {
    position: relative;
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }

  &__duration {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #112542;
    max-width: max-content;
    color: #fff;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 50px;
    font-size: 0.85rem;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 700;
  }

  &__details {
    border-bottom: 1px solid #e4e4e4;
    padding-block: 1rem;
    color: #7a7a7a;
  }

  &__location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.4rem;
    text-transform: capitalize;

    p {
      font-size: 1.3rem;
      font-weight: 700;
      color: #112542;
    }
  }

  &__locator {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;

    svg {
      color: #06a6e3;
    }
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    p {
      font-weight: 700;
      font-size: 1.75rem;
      color: #112542;
    }
  }
}

.packages__head {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 2rem;

  @media (min-width: 765px) {
    align-items: center;
    flex-direction: row;
  }
}

.package-search {
  input {
    border: 1px solid #112542;
    padding-block: 0.6rem;
  }
}
