.header {
  padding-block: 1.5rem;
  border-bottom: 1px solid #afafaf70;
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .search-btn {
    display: none;
  }
}

.logo {
  width: 15rem;
}

.logout-btn {
  padding: 0.4em 1em;
}

.logout-wrapper {
  display: flex;
  gap: 1.3rem;
  align-items: center;

  .dashboard-link {
    font-weight: bold;
    text-decoration: underline;
  }
}

@media (min-width: 756px) {
  .header {
    .container {
      flex-direction: row;
    }
    .search-btn {
      display: block;
    }
  }

  .logout-wrapper {
    gap: 2rem;
  }
}
